<header>
  <nav >

      <div class="flex flex-row justify-end m-2 py-2 px-14 border-4 border-solid border-blue-500 " >
        <a class="text-base" href=""><span>JuanRC</span></a>
        <ul class="flex flex-row mx-10">
          <li class="mx-10"><a href=""><span>home</span></a></li>
          <li class="mx-10"><a href=""><span>About me</span></a></li>
          <li class="mx-10"><a href=""><span>Portfolio</span></a></li>
          <li class="mx-10"><a href=""><span>contact_page</span></a></li>
        </ul>
    </div>
  </nav>
</header>
